.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(10,114,243,0.9), rgba(137,191,247,0.6)),
                    url('images/thailand-4.jpg');
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 0, 70% 0, 100% 20vh, 100% 100%, 30% 100%, 0% 80vh);
  position: relative;

  &__logo-container {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;

    &:hover {
      opacity: 0.8;
    }
  }

  &__text-box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
