.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 51rem;

  &__side {
    transition: all 1s ease;
    height: 51rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1rem 4rem rgba($black, 0.2);

    &--front {
      background-color: $white;
    }

    &--back {
      background-color: orangered;
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to left top, $color-orange-dark, $color-orange-light);
      }

      &-2 {
        background-image: linear-gradient(to left top, $color-green-dark, $color-green-light);
      }

      &-3 {
        background-image: linear-gradient(to left top, $color-primary-dark, $color-primary-light);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: color;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(to left top, $color-orange-dark, $color-orange-light),
                        url('images/thailand-1.jpg');
    }

    &--2 {
      background-image: linear-gradient(to left top, $color-green-dark, $color-green-light),
                        url('images/switzerland-2.jpg');
    }

    &--3 {
      background-image: linear-gradient(to left top, $color-primary-dark, $color-primary-light),
                        url('images/iceland-3.jpg');
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 60%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(to left top, rgba($color-orange-dark, .8), rgba($color-orange-light, .8));
    }

    &--2 {
      background-image: linear-gradient(to left top, rgba($color-green-dark, .8), rgba($color-green-light, .8));
    }

    &--3 {
      background-image: linear-gradient(to left top, rgba($color-primary-dark, .8), rgba($color-primary-light, .8));
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: $white;
  }

  &__price-only {
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
}
