.section-about {
  background: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(10,114,243,0.9), rgba(137,191,247,0.6)),
                    url('images/thailand-2.jpg');
  background-size: cover;
  clip-path: polygon(0 15vh, 30% 0, 100% 0, 100% 85%, 70% 100%, 0% 100%);
  margin-top: -20vh;
}

.section-tours {
  background: $color-grey-light-1;
  padding: 25rem 0 10rem 0;
  margin-top: -20vh;
}

.section-stories {
  padding-bottom: 15rem;
  background: $color-grey-light-1;
}
